{% extends 'base.html' %}

{% block content %}
<section class="hero-section hero-restaurants">
    <h1 class="hero-slogan">
        "อร่อยเด็ด <span style="color: orange">เมืองโคราช</span><span class="text-black">รสชาติ</span><span
            style="color: bisque;">ที่ต้องลอง</span>"
    </h1>
</section>

<section class="places-container container">
    <h2 class="section-title">ร้านน่าชิม / ของอร่อยเมืองย่า</h2>
    <div class="place-item">
        <div class="place-info">
            <h3 class="place-title">ข้าวมันไก่สนามกีฬากลาง</h3>
            <p class="place-desc">
                ร้านข้าวมันไก่ชื่อดังระดับตำนานของโคราช อิ่มจุกในราคาเป็นกันเอง!
                แวะมาพิสูจน์ความอร่อยที่ข้าวมันไก่สนามกีฬากลาง ให้เยอะแบบไม่กั๊ก ไก่นุ่มชิ้นโต ข้าวมันหอมๆ เสิร์ฟร้อนๆ
                พร้อมน้ำซุปซดคล่องคอ มาสนามกีฬากลางถ้าไม่แวะกินถือว่ามาไม่ถึง
            </p>
            <ul class="place-details">
                <li><strong>เวลาเปิด-ปิด:</strong> 08.30 - 22.30 น.</li>
                <li><strong>พิกัด:</strong> <a href="https://maps.app.goo.gl/zhNkKfK2MFP7bcXp6" class="underline">528
                        กีฬากลาง ซอย 2 ตำบลในเมือง อำเภอเมืองนครราชสีมา นครราชสีมา 30000</a></li>
                <li><strong>เมนูแนะนำ:</strong> ข้าวมันไก่ผสม / เครื่องในรวม </li>
            </ul>
        </div>
        <div class="place-gallery">
            <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t1.6435-9/36448074_2046741182034286_5774104967036010496_n.jpg?stp=dst-jpg_p960x960_tt6&_nc_cat=111&ccb=1-7&_nc_sid=127cfc&_nc_ohc=2W4VmwiSgZEQ7kNvwG0nYbU&_nc_oc=Adn-sd0-_QGH-dLn8iR0IUH_LmhDA8kVLTweQbRyBppX8bBktWKBF8WGtgI_IhNA7-Y&_nc_zt=23&_nc_ht=scontent-bkk1-1.xx&_nc_gid=w4lm7D70B19Oj32V6980Fg&oh=00_AfqyQAAh3tsZo1lwvF9MEWGL80WIrNY9XgV8VJ1U84VMJw&oe=69A1A7E6"
                alt="ข้าวมันไก่สนามกีฬากลาง">
        </div>
    </div>


    <!-- Restaurant 1: Khanom Jeen Ban Kru Yod -->
    <div class="place-item">
        <div class="place-info">
            <h3 class="place-title">ขนมจีนบ้านครูยอด (ประโดก)</h3>
            <p class="place-desc">
                ร้านขนมจีนชื่อดังระดับตำนานของโคราช ขึ้นชื่อเรื่องน้ำยาไก่โคราชสูตรโบราณ รสชาติเข้มข้น จัดจ้าน
                เสิร์ฟพร้อมผักสดนานาชนิด นอกจากนี้ยังมีผัดหมี่โคราช ไก่ทอด และเมนูอื่นๆ อีกมากมาย
            </p>
            <ul class="place-details">
                <li><strong>เวลาเปิด-ปิด:</strong> 09.00 - 16.00 น. (หยุดทุกวันจันทร์)</li>
                <li><strong>พิกัด:</strong> <a href="https://maps.app.goo.gl/iTyRLuKLmZZGy8Kn9" class="underline">ตำบล
                        หมื่นไวย อำเภอเมืองนครราชสีมา นครราชสีมา 30000</a></li>
                <li><strong>เมนูแนะนำ:</strong> ขนมจีนน้ำยาไก่ / ผัดหมี่โคราช / ปีกไก่ทอด</li>
            </ul>
        </div>
        <div class="place-gallery">
            <img src="https://img.wongnai.com/p/1920x0/2020/07/20/409498b4db0b4378b0aa81f46ff4bdb6.jpg"
                alt="ขนมจีนบ้านครูยอด">
        </div>
    </div>

    <!-- Restaurant 2: Pad Mee Korat (Je Aew) -->
    <div class="place-item">
        <div class="place-info">
            <h3 class="place-title">ผัดหมี่โคราช เจ้น้อยกระโทก</h3>
            <p class="place-desc">
                การันตีความอร่อยด้วยรางวัล Michelin Bib Gourmand และเป็นสินค้า OTOP ขึ้นชื่อของอำเภอโชคชัย
                ร้านนี้ใช้น้ำปรุงสูตรเฉพาะที่อร่อยแบบไม่ต้องปรุงเพิ่ม เส้นมีความเหนียวที่เป็นเอกลักษณ์
            </p>
            <ul class="place-details">
                <li><strong>เวลาเปิด-ปิด:</strong> 08.30 - 16.00 น.</li>
                <li><strong>พิกัด:</strong> <a href="https://maps.app.goo.gl/1esv8GujnBAuTBBD9" class="underline">115
                        ถนน พิบูลละเอียด ตำบล หนองไผ่ล้อม อำเภอเมืองนครราชสีมา นครราชสีมา 30000</a></li>
                <li><strong>เมนูแนะนำ:</strong> ผัดหมี่โคราช / ส้มตำ</li>
            </ul>
        </div>
        <div class="place-gallery">
            <img src="https://www.clubaroy.com/images/restaurant/20180611-1528659031-21575.jpg"
                alt="ผัดหมี่โคราช เจ้น้อย กระโทก">
        </div>
    </div>

    <!-- Restaurant 3: Gai Yang Tha Chang -->
    <div class="place-item">
        <div class="place-info">
            <h3 class="place-title">ไก่ย่างท่าช้าง สาขาหน้ากองเมือง</h3>
            <p class="place-desc">
                ไก่ย่างหนังกรอบ เนื้อนุ่ม หอมกลิ่นกระเทียมพริกไทย รสชาติเป็นเอกลักษณ์เฉพาะตัว
                ทานคู่กับข้าวเหนียวร้อนๆ และน้ำจิ้มแจ่วรสเด็ด อร่อยจนหยุดไม่ได้
            </p>
            <ul class="place-details">
                <li><strong>เวลาเปิด-ปิด:</strong> 06.00 - 18.00 น.</li>
                <li><strong>พิกัด:</strong> <a href="https://maps.app.goo.gl/Uz7vhrDBxmNMYjqp7" class="underline">225
                        ถนนสรรพสิทธิ์
                        ตำบลในเมือง อำเภอเมืองนครราชสีมา นครราชสีมา 30000</a>
                </li>
                <li><strong>เมนูแนะนำ:</strong> ไก่ย่างท่าช้าง / ส้มตำถาด</li>
            </ul>
        </div>
        <div class="place-gallery">
            <img src="https://i.ytimg.com/vi/TdNrtmpkKRM/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLCS_jbd1AExAziJTCwctbUk5SSmaQ"
                alt="ไก่ย่างท่าช้าง สาขาหน้ากองเมือง">
        </div>
    </div>

    <!-- Restaurant 4: Chao Sua Noi -->
    <div class="place-item">
        <div class="place-info">
            <h3 class="place-title">ปึงหงี่เชียง</h3>
            <p class="place-desc">
                นอกจากร้านอาหร้านของฝากที่อยู่คู่เมืองโคราชมานาน มีสินค้าให้เลือกหลากหลายมาก
            </p>
            <ul class="place-details">
                <li><strong>เวลาเปิด-ปิด:</strong> 07.30 - 19.30 น.</li>
                <li><strong>พิกัด:</strong> <a href="https://maps.app.goo.gl/Z6uAPvPtP1yDScT19" class="underline">3411
                        ถ. สืบศิริ
                        ตำบลในเมือง อำเภอเมืองนครราชสีมา นครราชสีมา 30000</a>
                <li><strong>เมนูแนะนำ:</strong> หมูหยอง / หมูทุบ / หมูฝอย</li>
            </ul>
        </div>
        <div class="place-gallery">
            <img src="https://scontent-bkk1-2.xx.fbcdn.net/v/t1.6435-9/132013341_1762245333937962_7645023415468075077_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeH6uv0JgK7qgZJVc-w1cosNVAmusI0wWc5UCa6wjTBZzlTWe1MjpcvR103gkQpkLRa4zeidQYWk1D_PU8coTmeE&_nc_ohc=x6DdkHjp0msQ7kNvwG6K2zv&_nc_oc=AdmiLmmmYNusIFjoz493knZnfNE5LDn1wGIjY2RC3cu5CVRXBX8L7Vo56-TDHMrLvSo&_nc_zt=23&_nc_ht=scontent-bkk1-2.xx&_nc_gid=HIDjyvm8uAd2Fuca4JXpxg&oh=00_Afqsv8qYSz08ptStlEvnkaWHY2oH1dGmhVpRusfM_hcBrw&oe=69A1218E"
                alt="ปึงหงี่เชียง">
        </div>
    </div>

</section>
{% endblock %}